
@font-face {
    font-family:'garage';
    src: url('../font/garage.eot');
    src: url('../font/garage.eot?#iefix') format('embedded-opentype'), url('../font/garage.woff') format('woff'), url('../font/garage.ttf') format('truetype'), url('../font/garage.svg#garage') format('svg');
    font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'gotham-light';
    src: url('../font/gotham-light.eot');
    src: url('../font/gotham-light.eot?#iefix') format('embedded-opentype'), url('../font/gotham-light.woff') format('woff'), url('../font/gotham-light.ttf') format('truetype'), url('../font/gotham-light.svg#gotham-light') format('svg');
    font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'gotham-bold';
    src: url('../font/gotham-bold.eot');
    src: url('../font/gotham-bold.eot?#iefix') format('embedded-opentype'), url('../font/gotham-bold.woff') format('woff'), url('../font/gotham-bold.ttf') format('truetype'), url('../font/gotham-bold.svg#gotham-bold') format('svg');
    font-weight:normal;font-style:normal;
}

body {
	color:#6b463e;
	font-family:'gotham-light';
	font-size:116%;
	margin:0;
	background-color:#fff;
	padding-top:13em;
}

.header {
	position:fixed;top:0;
	padding:2.0em;

	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(80%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

h1 {
	font-family:'garage';
	text-transform:uppercase;
	color:#e0c242;
	font-size:4.8em;
	font-weight:normal;
	letter-spacing:4px;
	text-align:center;
	line-height:0.8em;
	margin:0;padding:0;
}

h2 {
	font-family:'gotham-bold';
	text-transform:uppercase;
	font-size:0.65em;
	font-weight:normal;
	letter-spacing:4px;
	color:#232020;
	text-align:center;
	margin:0;padding:0;
	margin-bottom:3.0em;
}

.nav {
	list-style:none;
	padding:0;
	overflow:auto;
	display:table-row;
}

.nav li {
	list-style:none;
	padding:0;
	display:table-cell;
	width:20%;
}

.nav a {
	color:#232020;
	text-decoration:none;
	text-transform:lowercase;
	font-size:2.0em;
	font-family:'garage';
}

.nav a:hover {
	color:#000;
}

strong {
	color:#232020;
}

.blob {
	clear:left;
}

.primary {
	font-size:2.1em;
}
