@font-face {
    font-family:'garage';
    src: url('../font/garage.eot');
    src: url('../font/garage.eot?#iefix') format('embedded-opentype'), url('../font/garage.woff') format('woff'), url('../font/garage.ttf') format('truetype'), url('../font/garage.svg#garage') format('svg');
    font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'gotham-light';
    src: url('../font/gotham-light.eot');
    src: url('../font/gotham-light.eot?#iefix') format('embedded-opentype'), url('../font/gotham-light.woff') format('woff'), url('../font/gotham-light.ttf') format('truetype'), url('../font/gotham-light.svg#gotham-light') format('svg');
    font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'gotham-bold';
    src: url('../font/gotham-bold.eot');
    src: url('../font/gotham-bold.eot?#iefix') format('embedded-opentype'), url('../font/gotham-bold.woff') format('woff'), url('../font/gotham-bold.ttf') format('truetype'), url('../font/gotham-bold.svg#gotham-bold') format('svg');
    font-weight:normal;font-style:normal;
}

body {
	color:#6b463e;
	font-family:'gotham-light';
	font-size:116%;
	margin:0;
	background-color:#fff;
	padding-top:13em;
}

#map-mobile {
	display:none;
}

select {display:none;}







.header {
	position:fixed;top:0;
	width:100%;
	background-color:#fff;
	padding-bottom:2.0em;
}

h1 {
	font-family:'garage';
	text-transform:uppercase;
	color:#e0c242;
	color:rgba(224,194,66,0.85);
	font-size:4.8em;
	font-weight:normal;
	letter-spacing:4px;
	text-align:center;
	line-height:0.8em;
	margin:0;padding:0;
	padding-top:1.5em;
	background-image:url(../img/top.png);
	background-repeat:no-repeat;
	background-position:50% 0;
}

h2 {
	font-family:'gotham-bold';
	text-transform:uppercase;
	font-size:0.65em;
	font-weight:normal;
	letter-spacing:4px;
	color:#232020;
	text-align:center;
	margin:0;padding:0;
	margin-bottom:3.0em;
	margin-top:0.6em;
}

h3 {
	font-family:'garage';
	text-transform:uppercase;
	font-size:4em;
	font-weight:normal;
	color:#e45c51;
	margin:0;
}

.nav {
	display: -moz-box;
    display: -webkit-box;
    display: box;
    list-style:none;
    padding:0;margin:0 auto;
    width:88%;
    font-size:1.45em;
    letter-spacing:1px;
    text-transform:lowercase;
    font-family:'garage';
}

.nav li {padding:0;margin:0;}

.nav li:nth-child(even) {
	-ms-box-flex:1;
	-moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
}

.nav a {
	color:#231f20;
	color:rgba(35,31,32,0.95);
	text-decoration:none;
}

.nav a:hover {
	color:#000;
}

strong {
	color:#232020;

}

.blob {
	clear:left;
}

.primary {
	font-size:1.5em;
	width:45%;
	float:left;
}

h3 + .primary {
	margin-right:10%;
}

hr {
	clear:both;
}

.newsie {
	width:32%;
	float:left;
	font-size:0.9em;
	word-spacing:-1px;
}

.thingie p:nth-child(3n+2) {
	padding:0 2%;
}

#ceremony {margin-top:3.0em;}
#ceremony .primary {
	background-image:url(../img/casa-wide2.jpg);
	background-repeat:no-repeat;
	padding-top:11em;
	margin-top:0;
	width:auto;float:none;margin:0;
	background-size:100%;


	padding-left:0.4em;padding-bottom:0.2em;
	border:1px solid #6b463e;
}

#ceremony .primary a {color:#fff;text-decoration:none;
text-shadow:
		3px 3px 3px rgba(35,32,32,0.1),
		-3px 3px 3px rgba(35,32,32,0.1),
		3px -3px 3px rgba(35,32,32,0.1),
		-3px -3px 3px rgba(35,32,32,0.1),
		1px 1px 2px rgba(35,32,32,0.8),
		-1px 1px 2px rgba(35,32,32,0.8),
		1px -1px 2px rgba(35,32,32,0.8),
		-1px -1px 2px rgba(35,32,32,0.8),
		1px 1px 1px rgba(35,32,32,1.0),
		-1px 1px 1px rgba(35,32,32,1.0),
		1px -1px 1px rgba(35,32,32,1.0),
		-1px -1px 1px rgba(35,32,32,1.0);}
#ceremony .primary a:hover {color:#00f;
text-shadow:
		3px 3px 3px rgba(255,255,255,0.1),
		-3px 3px 3px rgba(255,255,255,0.1),
		3px -3px 3px rgba(255,255,255,0.1),
		-3px -3px 3px rgba(255,255,255,0.1),
		1px 1px 2px rgba(255,255,255,0.8),
		-1px 1px 2px rgba(255,255,255,0.8),
		1px -1px 2px rgba(255,255,255,0.8),
		-1px -1px 2px rgba(255,255,255,0.8),
		1px 1px 1px rgba(255,255,255,1.0),
		-1px 1px 1px rgba(255,255,255,1.0),
		1px -1px 1px rgba(255,255,255,1.0),
		-1px -1px 1px rgba(255,255,255,1.0);}

iframe {
	border: 1px solid #6b463e;
}

#girls {
	background-color:#e45c51;
}

#girls h3 {color:#fff;}

#girls p {
	font-size:2.0em;
	margin:2.0em 0;
	color:#000;
	color:rgba(35,32,32,0.9);
}

#accomodations a {
	color:#232020;
}

#accomodations a:hover {
	color:#000;
}

#boys {
	background-color:#6b463e;
	color:#fff;
}

#boys h3 {
	color:#000;
	color:rgba(35,32,32,0.9);
}

#boys p {
	font-size:2.0em;
	margin:2.0em 0;
}

#activities {

}

#activities a {
	color:#232020;
}

#activities a:hover {color:#00f;}

#nate6 p {
	font-size:3em;
	margin:2.0em 0.5em;
}

#soundtrack-player {
	margin:1em;
}

#quote {
	background-color:#e0c242;
}

#quote p {
	line-height:2.0em;
	margin:2.0em auto;
	font-size:2.3em;
	width:auto;
}

#rsvp form {
	width:80%;
	margin:2.0em auto;
}
#rsvp input, #rsvp textarea, #rsvp button {
	display: block;
	width: 80%;
	padding: 1.0em;
	font-size: 2.0em;
	margin:1.0em 0;
	font-family:'gotham-light'
}

#rsvp textarea {height:10em;}
#rsvp button {width:90%;}


.blob {
	padding:2.0em 0;
}






@media only screen and (min-width: 700px) {


	/* body    {width:80%;max-width:960px;min-width:913px;margin:0 auto;}
	.header {width:80%;max-width:935px;min-width:935px;} */

	.column {width:80%;max-width:935px;min-width:935px;margin:0 auto;overflow:auto;}

}

@media only screen and (max-width: 500px) {/*i know, so lazy, we had to build the desktop before the mobile version. I KNOW.*/

	body {
		padding-top:0.0em;
	}

	.column {
		padding:0 0.5em;
	}


	h1 {
		font-size:4.0em;
		background-image:none;
		padding-top:1.2em;
	}

	.header {
		background-image:url(../img/top.png);
		background-repeat:no-repeat;
		background-position:50% -30%;
		position:relative;
		padding-bottom:0;
	}

	h2 {
		margin-bottom:0;
	}

	.nav {
		font-size:1.0em;
	}

	h3 {
		font-size:1.8em;
		letter-spacing:-1px;
	}

	.primary {
		font-size:1.1em;
		float:none;
		width:auto;
	}

	.newsie {
		float:none;width:auto;
		font-size:0.85em;
	}

	.thingie p:nth-child(3n+2) {
		padding:0;
	}

	#ceremony {
		margin-top:0em;
	}

	#ceremony .primary {
		padding-top:5.5em;
		border:0;
		font-size:1.28em;
	}
	#ceremony .primary a {
		color:#00f;
		text-shadow:none;
		text-decoration:underline;
	}


	#girls p {
		font-size:1.0em;
		margin:1.0em 0;
	}


	#boys p {
		font-size:1.0em;
		margin:1.0em 0;
	}


	#soundtrack-player {
		margin:0em;
	}


	#nate6 p {
		font-size:2em;
		margin:1.0em 0;
	}

	#quote p {
		line-height:2.0em;
		margin:1.0em 0;
		font-size:1.0em;
		letter-spacing:-1px;
	}

	#quote strong {
		display:block;
	}


	#rsvp form {
		width:100%;
		margin:1.0em auto;
	}
	#rsvp input, #rsvp textarea, #rsvp button {
		display: block;
		width: 80%;
		padding: 1.0em;
		font-size:1.0em;
		margin:1.0em 0;
	}

	#rsvp textarea {height:10em;}
	#rsvp button {width:93%;}

	#nav {display:none;}


	select {
		width:80%;
		margin:0 auto;
		display:block;
	}

	#map-desktop {
		display:none;
	}
	#map-mobile {
		display:block;
	}
	small {display:none;}





}








